/* index.css
- Reset
- Root
- Global
- Header
- Hero section
- Player info section
- Reviews section
- News section
- Footer
 */

/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}


img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: transparent;
    border: none;
    outline: none;

    color: var(--color-primary);
}

/* STYLES */

:root {
    /* COLORS */

    --color-primary: #4391f0;
    --color-white: #ffffff;
    --color-black: #212121;
    --color--grey: #313131;
    --color--lightgrey: #68686848;
    --color-error: #e26868;

    /* FONTS */

    --text-xl: normal normal 400 normal clamp(3em, 5vw, 4em) normal, "Hedvig Letters Serif", serif;
    --text-l: normal normal 400 normal clamp(1.5em, 5vw, 2em) normal, "Hedvig Letters Serif", serif;
    --text-md: normal normal 400 normal clamp(1.1875em, 5vw, 1.5em) normal, "Hedvig Letters Serif", serif;
    --text-s: normal normal 400 normal clamp(1.0625em, 5vw, 1.1875em) normal, "Instrument Sans", sans-serif;
    --body: normal normal 400 normal clamp(.9375em, 5vw, .9375em) normal, "Instrument Sans", sans-serif;
    --links: normal normal 600 normal clamp(.9375em, 5vw, .9375em) normal, "Instrument Sans", sans-serif;


    /* SPACES */

    --space-1: .25rem;
    --space-2: .5rem;
    --space-4: 1rem;
    --space-6: 1.5rem;
    --space-8: 2rem;
    --space-12: 3rem;
    --space-16: 4rem;


    /* LAYOUT */

    --max-width: 57.5rem;
    --max-width-l: 80rem;
    --max-width-xl: 88.75rem;
    --min-width: 15rem;
    --min-width-xs: 12.5rem;


}

/* COMPONENTES */

h1,
.h1 {
    font: var(--text-xl);
}

h2,
.h2 {
    font: var(--text-l);
}

h3,
.h3 {
    font: var(--text-md);
}

h4,
.h4 {
    font: var(--text-s);
}

p,
body,
label,
input,
select,
textarea,
span {
    font: var(--body);
}

label {
    display: none;
}

a,
.link {
    font: var(--links);

}

li {
    list-style: none;
}

.block {
    max-width: var(--max-width);
    margin: 0 auto;
}

.block--l {
    max-width: var(--max-width-l);
    margin: 0 auto;
}

.block--xl {
    max-width: var(--max-width-xl);
    margin: 0 auto;
}

.review__btn {
    color: var(--color-black);
    background-color: var(--color-white);
    padding: var(--space-2);
    border-radius: var(--space-4);
}

/* Header */
/* Descrición: /* Estilos para el encabezado (header) y todos sus elementos hijos. Incluye el logotipo, menú de navegación, barra de búsqueda, notificaciones e inicio de sesión.
    Estructura: */
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-4);
    gap: var(--space-6);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.249);
    backdrop-filter: blur(10px);

    & .header__logo {
        display: flex;
        align-items: center;
        gap: 2px;

        & .logo__image {
            max-width: 70px;
            max-height: 70px;
        }

        & .header__logo-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: var(--space-1);
            gap: var(--space-1)
        }
    }

    & .header__nav {
        display: flex;

        & .header__nav--ul {
            display: flex;
            justify-content: space-between;
            gap: var(--space-12);
            padding: var(--space-4);
            border-radius: var(--space-12);
            background-color: var(--color--lightgrey);
        }
    }

    & .header__buttons {
        display: flex;
        justify-content: space-between;
        gap: var(--space-6);

        & button {
            font-size: var(--space-4);
            padding: var(--space-2);
            border-radius: var(--space-6);
            background-color: var(--color--lightgrey);

        }

        & .header__buttons-player {}
    }
}
/* / Header */
/* Hero section */
/* Descrición: /* Estilos para la sección principal destacada (Hero Section) y todos sus elementos hijos. Incluye las imágenes promocionales, accesos directos a las reseñas más recientes y favoritas del equipo, títulos, textos descriptivos, enlaces y demás elementos visuales que captan la atención del usuario al acceder a la página.
    Estructura: 
    - hero
    - hero-block
    - hero-rotative
    - hero-image
    - img
    - hero-background*/
.hero {
    position: relative;

    & .hero__block {

    padding: 5rem 2rem ;

        & .hero__rotative {
            display: flex;

           & .hero__image {
            flex: 1 1 0;
    
                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    & .hero__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
    }
}
/* / Hero section */
/* Player info */
/* Descrición: /* Estilos para la sección de información del usuario (Player Info Section) y todos sus elementos hijos. Incluye el mensaje de bienvenida personalizado, estadísticas destacadas, videojuegos en tendencia, videojuegos mejor valorados, novedades y demás elementos relacionados con la experiencia del usuario dentro de la plataforma.
    Estructura:
    - player-info
    - player-info-card
    - player-info.icon */
.player__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    padding: var(--space-8);
    gap: var(--space-16);
    border-radius: var(--space-8);
    background-color: rgb(249, 255, 179);

    & .player__info-card {
        display: flex;
        align-items: center;
        min-width: 150px;
        /*crear variable para este valor*/
        gap: var(--space-4);

        & .player__info-icon {
            font-size: x-large;
            padding: var(--space-1);
            border-radius: var(--space-2);
            background-color: lightskyblue;
        }
    }

}
/* / Player info */
/* Reviews section */
/* Descrición: Estilos para la sección de reseñas (Reviews Section) y todos sus elementos hijos. Incluye el carrusel de reseñas, imágenes de los videojuegos, controles de navegación, indicadores, títulos, descripciones, enlaces y demás elementos relacionados con las reseñas.
    Estructura: 
        - reviews.section
        - reviews-grid
        - reviews-card
        - reviews-image
        - reviews-info */
.reviews__section {
    display: flex;
    flex-direction: column;
    padding: var(--space-12) 0;
    gap: var(--space-6);

    & .reviews__grid {
        display: grid;
        grid-auto-flow: dense;
        grid-template-columns: repeat(auto-fit, minmax(var(--min-width), 1fr));

        gap: var(--space-12);
        /*valor importante con el responsive*/

        .review__card {
            min-height: 32rem;
            min-width: 20rem;
            max-width: var(--max-width-xl);
            margin: 0 auto;
            border-radius: var(--space-16);
            position: relative;

            display: flex;
            justify-content: center;
            align-items: center;
            padding: var(--space-6);
            /*valor importante con el responsive*/
            gap: var(--space-6);
            /*valor importante con el responsive*/

            & .review__image {
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                width: 100%;
                height: 100%;
                border-radius: var(--space-12);
                object-fit: cover;
            }

            & .review__info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                position: relative;

                width: 100%;
                height: 100%;

                padding: .625rem;
                gap: var(--space-4);

                & .review__info--top-left {
                    position: absolute;
                    left: var(--space-1);
                    top: var(--space-1);
                    color: var(--color-black);
                    background-color: var(--color-white);
                    padding: var(--space-2);
                    border-radius: var(--space-4);

                }

                & .review__info--top-right {
                    position: absolute;
                    right: var(--space-1);
                    top: var(--space-1);
                    color: var(--color-white);
                    background-color: var(--color--grey);
                    opacity: 0.9;
                    padding: var(--space-2);
                    border-radius: var(--space-4);
                }

                & .review__info--bottom-left {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    gap: var(--space-4);
                    color: #fff;
                    position: absolute;
                    left: var(--space-1);
                    bottom: var(--space-1);


                }

            }
        }
    }
}
/* / Reviews section */
/* News section */
/* Descrición: Estilos para la sección de noticias (News Section) y todos sus elementos hijos. Incluye los contenedores de noticias, imágenes, títulos, descripciones, enlaces y demás componentes relacionados con las novedades del mundo gaming.
    Estructura: 
        - news.section
        - news-grid
        - news-card
        - news-card-type
        - news-image
        - news-info */
.news__section {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);

    & .news__grid {
        display: grid;
        grid-auto-flow: dense;
        grid-template-columns: repeat(auto-fit, minmax(var(--min-width), 1fr));

        gap: var(--space-8);
        /*valor importante con el responsive*/

        & .news__card {
            display: flex;
            flex-direction: column;
            position: relative;
            border-radius: var(--space-12);
            background-color: var(--color--grey);
            color: var(--color-primary);

            & .news__card-type {
                position: absolute;
                top: var(--space-2);
                left: var(--space-2);
                padding: var(--space-2);
                background-color: var(--color-white);
                border-radius: var(--space-12);
            }

            & .news__image {
                display: flex;
                flex: 1 1 var(--min-width-xs);
            }

            & .news__info {
                display: flex;
                flex-direction: column;
                padding: var(--space-4);
                gap: var(--space-4);
            }
        }
    }
}
/* / News section */
/* Footer */
/* Descrición: Estilos para el pie de página (footer) y todos sus elementos hijos. Incluye la información de derechos de autor, enlaces legales, política de privacidad, términos y condiciones y política de cookies.
    Estructura: 
        - footer
        - footer-copyright
        - footer-links */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-8) var(--space-2);
    gap: var(--space-12);

    & .footer__copyright {}

    & .footer__links {
        display: flex;
        justify-content: space-between;
        gap: var(--space-8)
    }
}
/* / Footer */